
 html{
    text-transform: capitalize;
    font-size: 16px;
 }
 *, *::before, *::after {
    box-sizing: border-box;
}


 body{
    min-height: 400vh;
    padding: 0;
    font-family: "Lato", sans-serif;
    margin: 0;
    padding-top: 8.016rem;
 }
 /*navigation bar*/
 nav,ul,.menu {
    display: flex;
    align-items: center;
 }
 nav {
    background-color: #E3E3E3;
    justify-content: space-around;
    gap: 30rem;
    height: 8.016rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
 }
 ul{
    gap: 4.375rem;
    list-style: none;
    justify-content: center;
 }
 
a{
    text-decoration: none;    
    color: black;
    font-weight: bold;
 }
.menu{
    min-width: 44.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.268rem;
}

.menu a:hover {
   color: #305258;
} 
#logo>img{
    width: 12.58;
    height: 2.838rem;
}
#logo {
    margin-left: 0.313rem;
}
/* home section */

.title{
    margin-top: 0.313rem;
    width: 100%;
    text-align: center;
}
.title>p {
    font-weight: bold;
    font-size: 2.065rem;
}

.title>h1{
    font-size: 3.721rem;
}
.intro {
    background-image: url(imges/pura70-ultra-kv.jpg);
    width: 100%;
    height: 45rem;
    background-size: cover;
    background-position: center;
}

.intro2{
    width: 100%;
    text-align: center;
}
.intro2>h1{
    color: #CBE1CE;
    font-size: 69px;
}
.intro2>p{
    font-size: 1.236rem;
    line-height: 3.038rem;
    color: #CFD2D0;
}

#about {
    background-color: #CBE1CE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 78.938rem;
}
.text>h1{
    font-size: 3.064rem;

}
.text>p{
    font-size:2.981rem;
    color: #27252559;
    font-weight: bold;
}
.text>p,h1{
    text-align: center;
}

.buisness{
    height: 30.875rem;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.buisness>img{
    width: 41.572rem;
    height: 24.618rem;
}
.buisness>p{
    font-size: 1.533rem;
    width: 38.875rem;
    height: 24.618rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5em;
}



#product {
    height: 97.813rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_name{
    font-size: 2.981rem;
    font-weight: bold;
}
#product>div{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows:repeat(3,1fr) ;
    gap: 5.5rem;
    width: 83.5rem;
    height: 78.313rem;
}
.card{
    height: 22.438rem;
    border: 1px solid black;
    border-radius: 1.076rem;
    display: flex;
    justify-content: space-between;
   
}

.phon>img {
    width: 15.563rem;
    height: 14.625rem;
}
.phon{
    display: flex;
    flex-direction: column;
}
.phon>button{
    font-size: 0.875rem;
    font-family: "Amiri", serif;
    background-color: #305258;
    color: white;
    width: 5.188rem;
    height: 2.375rem;
    border-radius: 0.313rem;
    margin-left: 5em;
    margin-top: 0.5em;
    transition: all 0.5s ease;
}
.phon>button:hover {
    width: 6rem;
    color: rgb(146, 150, 142);
}
.card>h3 {
    
    font-weight: bolder;
}
.phone_text {
    text-align: start;
    width: 21em;
    padding-top:3em;
    display: flex;
    flex-direction: column;
}
.phone_text>p {
    font-size:1.211rem;
    font-weight: bold;
    color: #00000085;
    line-height: 1.731rem;
}
.phone_text>.name{
    font-size:1.533rem;
    color: black;
    font-weight: 800;
}
.phon{
    padding-top: 2em;
}
.price{
    padding-top: 2em;
}
/* contact section */
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:117.125rem;
}

form{
    width: 69.313rem;
    height: 93.938rem;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    gap: 2.5em;
}
label{
    font-size: 1.793rem;
}
.bar {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}
.bar [type="text"],[type="email"]{
    height: 5.891rem;
    
}
.bar [name="service"]{
    height: 9.114rem;
    
}
.bar [name="Budget"]{
    height:5.891rem;
    
}
form input,select,textarea {
    background-color: #F7F7F7;
    padding: 1.409rem 2.049rem;
    font-size: 1.793rem;
    border: none;
}
textarea {
    resize: none;
    height: 21.129rem;
}
button {
   width: 100%;
   background-color:black ;
   color: white;
   font-size: 1.793rem;
   height: 12.5rem;
   cursor: pointer;
}
select {
    appearance: none;
}
footer {
    height: 8.813rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .icons {
    margin-left:3em;
    width:10rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin-right:3em;
    font-size: 0.978rem;
    color: white;
}

form button:hover {
    background-color: rgba(0, 0, 0, 0.435);
    color: black;
}


button:active {
    background-color: rgba(65, 62, 62, 0.805);
    color: black;
}
.icons i {
    color: #ffffff; 
    transition: color 0.3s ease; 
}
.icons i:hover {
    color: #85a099;
}
@media (max-width: 1000px) {
    html{
        font-size: 8px;
    }
}
@media (max-width: 1350px) {
   html{
    font-size: 10px;
   }
}
