
 html{
    text-transform: capitalize;
    font-size: 16px;
 }

 body{
    min-height: 400vh;
    padding: 0;
    font-family: "Lato", sans-serif;
    margin: 0;
    box-sizing: border-box;
 }
 /*navigation bar*/
 nav,ul,.menu {
    display: flex;
    align-items: center;
 }
 nav {
    background-color: #E3E3E3;
    justify-content: space-between;
    height: 100px;
 }
 ul{
    gap: 70px;
    list-style: none;
    justify-content: center;
 }
 
a{
    text-decoration: none;    
    color: black;
    font-weight: bold;
 }
.menu{
    width: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
}
#logo>img{
    width: 150.28px;
}
#logo {
    margin-left: 5px;
}
/* home section */
section {
    height: 100%;
}
.title{
    margin-top: 5px;
    width: 100%;
    text-align: center;
}
.title>p {
    font-weight: bold;
}

.title>h1{
    font-size: 30px;
}
.intro {
    background-image: url(imges/pura70-ultra-kv.jpg);
    width: 100%;
    height: 720px;
    background-size: cover;
    background-position: center;
}


.intro2{
    width: 100%;
    text-align: center;
}
.intro2>h1{
    color: #CBE1CE;
    font-size: 69px;
}
.intro2>p{
    font-size: 19.78px;
    line-height: 48.6px;
    color: #CFD2D0;
}

#about {
    background-color: #CBE1CE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 1263px;
}
.text>h1{
    font-size: 49.03px;

}
.text>p{
    font-size: 47.69px;
    color: #27252559;
    font-weight: bold;
}
.text>p,h1{
    text-align: center;
}

.buisness{
    height: 494px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.buisness>img{
    width: 665.15px;
    height: 373.88px;
}
.buisness>p{
    font-size: 24.53px;
    width: 622px;
    height:315px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5em;
}



#product {
    height: 1565px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_name{
    font-size: 47.69px;
    font-weight: bold;
}
#product>div{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows:repeat(3,1fr) ;
    gap: 88px;
    width: 1336px;
    height: 1253px;
}
.card{
    height: 359px;
    border: 1px solid black;
    border-radius: 17.21px;
    display: flex;
    justify-content: space-between;
   
}

.phon>img {
    width: 249px;
    height: 234px;
}
.phon{
    display: flex;
    flex-direction: column;
}
.phon>button{
    font-size: 14px;
    font-family: "Amiri", serif;
    background-color: #305258;
    color: white;
    width: 83px;
    height: 38px;
    border-radius: 5px;
    margin-left: 5em;
    margin-top: 0.5em;
}
.card>h3 {
    
    font-weight: bolder;
}
.phone_text {
    text-align: start;
    width: 21em;
    padding-top:3em;
    display: flex;
    flex-direction: column;
}
.phone_text>p {
    font-size:19.38px;
    font-weight: bold;
    color: #00000085;
    line-height: 27.7px;
}
.phone_text>.name{
    font-size: 24.53px;
    color: black;
    font-weight: 800;
}
.phon{
    padding-top: 2em;
}
.price{
    padding-top: 2em;
}
/* contact section */
#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1565px;
}

form{
    width: 1109px;
    height: 1503px;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
     gap: 2.5em;
}
label{
    font-size: 28.68px;
}
.bar {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}
.bar [type="text"],[type="email"]{
    height: 94.25px;
    
}
.bar [name="service"]{
    height: 145.82px;
    
}
.bar [name="Budget"]{
    height: 94.25px;
    
}
form input,select,textarea {
    background-color: #F7F7F7;
    padding: 22.54px 32.78px;
    font-size: 28.68px;
    border: none;
}
textarea {
    resize: none;
    height: 338.06px;
}
form>button {
   width: 100%;
   background-color:black ;
   color: white;
   height: 200.27px;
   font-size: 28.68px;
}
select {
    appearance: none;
}
footer {
    border: 1px solid black;
}